body{
    margin:0;
}

#parent-1{
    background-color:cornflowerblue;
    height:100vh;
    display:flex;
    /* flex-direction:row-reverse; */
    /* flex-wrap:wrap; */
    /* justify-content: space-between; */
    /* justify-content:space-around; */
    justify-content:space-evenly;
    align-items:center;
    gap:50px;
}

#child-1-a{
    background-color:purple;
    height:150px;
    width:150px;
    /* order:3; */
    flex-grow:2;
}

#child-1-b{
    background-color:lightpink;
    height:150px;
    width:150px;
    /* order:1; */
    flex-grow:1;
    align-self: flex-end;
}

#child-1-c{
    background-color:lightcoral;
    height:150px;
    width:150px;
    /* order:2; */
}

#section-2{
    background-color:;
    height:100vh;
}

#box-1{
    background-color:bisque;
    height:150px;
    width:150px;
    transform:rotate(45deg);
}

#box-2{
    background-color:yellowgreen;
    height:150px;
    width:150px;
    transform:scale(1,2);
}

#box-3{
    background-color:blue;
    height:150px;
    width:150px;
    transform:skew(0,45deg);
}

#section-3{
    background-color:brown;
    height:150px;
    width:150px;
    animation-name:move-box;
    animation-duration:5s;
    animation-fill-mode:forwards;
    position:relative;
}

@keyframes move-box{
    0%{
        left:0px;
    }
    50%{
        left:800px;
        top:0px;
    }
    100%{
        left:800px;
        top:500px;
    }
}

#section-4{
    background-color:darkgreen;
    height:100vh;
}

#box-5{
    background-color:lightgoldenrodyellow;
    height:150px;
    width:150px;
    transition-property:background-color height width;
    transition-duration:3s;
}

#box-5:hover{
    /* background-color:aqua; */
    background-image:url(https://images.unsplash.com/photo-1498330177096-689e3fb901ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2504&q=80);
    height:250px;
    width:250px;
    transform:rotate(45deg);
}